@{
    ViewData["Title"] = "Tela de Cadastro";
}
<h1>@ViewData["Title"]</h1>
<br />

<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Nome">Nome Completo:</label>
                <input type="text" class="form-control" id="nome" placeholder="Nome" maxlength="256" oninput="limitarTamanho(this)">
                <script>
                    function limitarTamanho(input) {
                        if (input.value.length > input.maxLength) {
                            input.value = input.value.slice(0, input.maxLength);
                        }
                    }
                </script>
            </div>
            <div class="form-group col-md-2">
                <label for="cpf">CPF:</label>
                <input type="number" class="form-control" placeholder="000000000-00" maxlength="11" oninput="limitarTamanho(this)">
                <script>
                    function limitarTamanho(input) {
                        if (input.value.length > input.maxLength) {
                            input.value = input.value.slice(0, input.maxLength);
                        }
                    }
                </script>
            </div>
        </div>
        <div class="form-group  col-md-1">
            <label for="ddd">DDD:</label>
            <input type="number" class="form-control" placeholder="(xx)" maxlength="2" oninput="limitarTamanho(this)">
            <script>
                function limitarTamanho(input) {
                    if (input.value.length > input.maxLength) {
                        input.value = input.value.slice(0, input.maxLength);
                    }
                }
            </script>
            </div>
        <div class="form-group  col-md-3">
            <label for="telefone">Telefone:</label>
            <input type="number" class="form-control" placeholder="99999-9999" maxlength="9" oninput="limitarTamanho(this)">
            <script>
                function limitarTamanho(input) {
                    if (input.value.length > input.maxLength) {
                        input.value = input.value.slice(0, input.maxLength);
                    }
                }
            </script>
        </div>

        <div class="form-group col-md-5">
            <label for="telefone">Telefone:</label>
            <select id="telefone" class="form-control">
                <option selected>Escolha o Tipo do telefone</option>
                <option value="celular">Celular</option>
                <option value="residencial">Residencial</option>
                <option value="recado">Contato para recado</option>
            </select>
        </div>

        <div class="form-group col-md-5">
            <label for="logadouro">Endereço:</label>
            <input type="text" class="form-control"placeholder="Rua, Av.,Alameda">
            <div class ="form-group col-md-3">
                <label for="numero">Numero:</label>
                <input type="number" class="form-control"  placeholder="Numero da residência">
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="cep">CEP:</label>
            <input type="number" class="form-control" placeholder="00000-000" maxlength="8" oninput="limitarTamanho(this)">
            <script>
                function limitarTamanho(input) {
                    if (input.value.length > input.maxLength) {
                        input.value = input.value.slice(0, input.maxLength);
                    }
                }
            </script>
        </div>

        <div class="form-row col-md-5">
            <div class="form-group col-md-4">
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
        </div>


        <div class="form-row col-md-5">
            <div class="form-group col-md-4">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="inputCity">
            </div>

            <div class="form-group col-md-5">
                <label for="inputState">Estado:</label>
                <select id="estado" class="form-control">
                    <option selected>Escolha o estado</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                </select>
            </div>
        </div>
       
        <br/>
    

        <button type="submit" class="btn btn-primary">Novo Cadastro</button>
    </form>
</body>
</html>

